00-documentation/._*
02-scripts/._*
05-results/._*
06-publication/._*
05-results/gmgc_mapping_rrap_rpkm_noLog_no0_Strep_mod_human.tsv.gz
05-results/gmgc_mapping_rrap_rpkm_noLog_no0_Strep_anc_calc.tsv.gz
06-publication/supplemental_figures/Sup_fig_S15/Sup_fig_S15.svg
06-publication/supplemental_figures_restored
06-publication/main_figures/Figure_*/._*
06-publication/supplemental_figures/Sup_fig_S*/._*
